<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{subject}</title>
</head>
<body style="background-color: white">
  <div id="header" style="font-size: 1em;">
    <p>Email sent from {source}</h1>
  </div>
  <hr style="margin-bottom: 20px;">

  <div id="body" style="margin: 50px;">
    <h2>{subject}</h2>
    <p>{body}</p>
  </div>
  <hr style="margin-bottom: 20px;">

  <div id="footer" style="font-size: 0.8em;">
    Email sent using SMS via <a href="https://github.com/lerignoux/gsm-mailer" target="_blank">GSM-mailer</a>
  </div>
</body></html>
